.washes-list {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
}

.washes-container {
  width: 70%;
  margin: 0 auto;
}

.washes-card {
  padding: 25px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #ffffff;
  position: relative;
  border-radius: 10px;
  border: 1px solid #000;
  box-shadow: 0 2px 8px rgb(0, 0, 0);
  margin-bottom: 20px;
}

.washes-card p {
  font-weight: bold;
  padding-top: 3px;
}

.washes-info,
.washes-car,
.washes-user {
  display: flex;
  justify-content: center;
  text-transform: capitalize;
  flex-direction: column;
}

.washes-car{
  margin-right: 50px;
  width: 30%;
}

.washes-info p,
.washes-car p,
.washes-user p {
  padding-top: 0;
  margin-top: 0;
}

.washes-price {
  position: absolute;
  top: 0;
  right: 0;
  background-color: #BCF7FF;
  padding: 8px 17px 6px 8px;
  border-top-right-radius: 10px;
  font-weight: 700;
  box-shadow: 0 2px 8px rgb(0, 0, 0);
}

.washes-date {
  position: absolute;
  bottom: 0;
  right: 0;
  padding: 5px;
  font-weight: bold;
}

.washes-card .delete-button {
  position: absolute;
  top: 2px;
  right: 70px;
}

.washes-card .mark-button {
  position: absolute;
  top: 2px;
  right: 70px;
  border-radius: 10px;
  background-color: #10f55c;
  color: #000;
  border: 1px solid #000;
  width: 165px;
  height: 30px;
  margin-right: 5px;
  padding: 2px;
}

.washes-card .mark-button:hover {
  color: #10f55c;
  background-color: #000;
  border: 1px solid #10f55c;
}