.footer {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  text-align: center;
  background-color: #BCF7FF;
  margin-top: 40px;
  border-top: 1px solid #000;
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.719);
}

.footer img {
  width: 6%;
}

.footer-logo {
  display: flex;
  align-items: center;
  justify-content: center;
}

.footer-nav {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 5px;
}

.footer-nav a:hover,
.footer-site a:hover {
  text-decoration: underline;
}

.footer-site {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
}

.footer-site a img {
  padding: 2px;
  width: 15%;
}

.footer-site a {
  display: flex;
}