#login,
#register {
  border: 1px solid #000;  
  background-color: #FFFFFF;
  padding: 1.5em 2em;
  max-width: 33%;
  margin: 2em auto;
  box-shadow: 0 2px 8px rgb(0, 0, 0);
}

#login h2,
#register h2 {
  text-align: center;
  font-size: 2.1em;
  margin-top: 0;
}

.subtitle {
  font-weight: bold;
  color: #000000;
  margin-bottom: 1.5em;
}

#login form,
#register form {
  padding-bottom: 1.5em;
  margin-bottom: 1.5em;
  border-bottom: 1px solid #363636;
}

#login p, 
#register p {
  text-align: center;
}

form input[type="submit"] {
  padding: 10px 8px;
  box-shadow: 0 2px 8px rgb(0, 0, 0);
}

#login form input,
#register form input {
  padding: 10px;
  border-radius: 5px;
}