#times {
  display: flex;
  flex-direction: column;
  padding-bottom: 40px;
  margin: 0 auto;
}

.time-user {
  width: 70%;
  background-color: #fff;
  margin-bottom: 10px;
  padding: 30px;
  margin: 0 auto;
  margin-bottom: 20px;
  font-size: 1.3rem;
  background-color: white;
  border-radius: 10px;
  border: 1px solid #000;
  box-shadow: 0 2px 8px rgb(0, 0, 0);
}

.time-days {
  margin-bottom: 5px;
}

.time-hours {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 5px;
}

.time-hours svg {
  color: red;
}

.hours {
  font-weight: bold;
}

.hours::before {
  content: "\2022";
  margin-right: 5px;
}

.washer-times {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  align-items: center;
}

.washer-times img{
  width: 25vw;
  height: 30vh;
  border: 1px solid #000;
  box-shadow: 0 2px 8px rgb(0, 0, 0);
}

label {
  display: block;
  margin-bottom: 5px;
}

.button-container-times {
  text-align: center;
}

.overlay-times {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(22, 22, 22, 0.959); /* Cinza claro com opacidade */
  z-index: 999;
}

.popup-times {
  position: absolute;
  width: 30%;
  height: 35%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #BCF7FF;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 2px 8px rgb(0, 0, 0);
}

.popup-content-times {
  background-color: #fff;
  height: 85%;
  padding: 20px;
  border-radius: 5px;
  border: 1px solid #000;
  box-shadow: 0 2px 8px rgb(0, 0, 0);
}
 
.popup-content-times input {
  padding: 8px;
  margin-bottom: 10px;
  border-radius: 5px;
  border: 1px solid #000;
  box-shadow: 0 2px 8px rgb(0, 0, 0);
}

.horarios {
  font-size: 3rem;
  text-decoration: underline;
}

.washer-hours {
  width: 70%;
  margin: 0 auto;
}