.wash-list {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  width: 70%;
}

.wash-card {
  padding: 25px;
  display: grid;
  grid-template-columns: 2.5fr 1fr 2fr;
  background-color: #ffffff;
  margin-bottom: 16px;
  position: relative;
  border-radius: 10px;
  border: 1px solid #000;
  box-shadow: 0 2px 8px rgb(0, 0, 0);
}

.wash-card p {
  font-weight: bold;
  padding-top: 3px;
}

.wash-info {
  display: flex;
  justify-content: center;
  text-transform: capitalize;
  flex-direction: column;
}

.wash-car{
  display: flex;
  justify-content: center;
  text-transform: capitalize;
  flex-direction: column;

}

.wash-price {
  position: absolute;
  top: 0;
  right: 0;
  background-color: #BCF7FF;
  padding: 8px 17px 6px 8px;
  border-top-right-radius: 10px;
  font-weight: 700;
  box-shadow: 0 2px 8px rgb(0, 0, 0);
}

.wash-date {
  position: absolute;
  bottom: 0;
  right: 0;
  padding: 5px;
}

.wash-price-date {
  display: flex;
  
}