body {
  font-family: "Roboto", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: #EAF7FF;
  color: #000;
}

input,
textarea,
button {
  font-family: "Roboto", sans-serif;
}

a {
  color: #000;
  text-decoration: none;
}

.active {
  font-weight: bold;
}

ul {
  list-style: none;
}

form {
  display: flex;
  flex-direction: column;
}

label {
  display: flex;
  flex-direction: column;
  text-align: left;
}

label span {
  font-weight: bold;
  margin-bottom: .5em;
  color: #000;
  font-size: .7em;
}

input,
textarea {
  background-color: #8FF2FF;
  color: #000;
  border: 1px solid #000;
  margin-bottom: .6em;
}

input::placeholder {
  color: #000000;
  opacity: 0.5;
}

.btn,
button, 
input[type="submit"] {
  background-color: #8FF2FF;
  color: #000;
  border-radius: 4px;
  padding: 8px 8px;
  font-weight: bold;
  cursor: pointer;
  font-size: 1em;
  border: 1px solid #000;
  box-shadow: 0 2px 8px rgb(0, 0, 0);
}

input[type="submit"] {
  margin-top: 1em;
}

input:disabled {
  cursor: not-allowed;
  background-color: black;
}

button:hover,
input[type="submit"]:hover {
  background-color: #000;
  color: #8FF2FF;
  border: 1px solid #8FF2FF;
}

.profile-title {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  padding: 1em;
}

div .delete-button {
  border-radius: 10px;
  background-color: #FF9B9B;
  color: #000;
  border: 1px solid #000;
  width: 165px;
  height: 30px;
  margin-right: 5px;
  padding: 2px;
}

div .delete-button:hover {
  color: #FF9B9B;
  background-color: #000;
  border: 1px solid #FF9B9B;
}

select:focus {
  box-shadow: 0 0 0 0;
  border: 0 none;
  outline: 0;
}

.add-button {
  margin-top: 20px;
  text-align: center;
}

.click a{
  color: #000;
  font-weight: bold;
}

.click a:hover {
  padding: 0;
  border-radius: 0;
  background-color: transparent;
  border: none;
  text-decoration: underline;
}