#profile {
  width: 50%;
  margin: 0 auto;
  display:flex;
  flex-direction: column;
  padding-bottom: 40px;
  text-transform: capitalize;
}

.profile-cars{
  padding: 10px;
  display: flex;
  justify-content: space-between;
  margin-bottom: 16px;
  font-size: 0.97em;
  background-color: white;
  border-radius: 10px;
  box-shadow: 0 2px 8px rgb(0, 0, 0);
}

span {
  font-weight: bold;
}